/**this will contain all abse css**/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  input, button {
    padding: 8px;
    margin: 5px;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }